In [79]:
import pandas as pd
import numpy as np

In [81]:
df=pd.read_csv('transactions.csv')
df

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,Line Total,Store ID,Employee ID,Currency,Currency Symbol,SKU,Transaction Type,Payment Method,Invoice Total
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.00,80.50,1,7,USD,$,MASU485-M-,Sale,Cash,126.70
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,18.90,1,7,USD,$,CHCO2779-G-,Sale,Cash,126.70
2,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.40,27.30,1,7,USD,$,MACO64-M-NEUTRAL,Sale,Cash,126.70
3,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.40,42.00,1,6,USD,$,FECO131-M-BLUE,Sale,Cash,77.00
4,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.00,26.00,1,6,USD,$,MAT-716-L-WHITE,Sale,Cash,77.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6416822,INV-PT-035-01497756,2,1640168,15414,P,NaN,35.5,1,2025-03-18 08:52:00,0.35,23.07,35,402,EUR,€,CHGI15414-P-,Sale,Credit Card,69.55
6416823,INV-PT-035-01497756,3,1640168,15232,G,RED,51.5,1,2025-03-18 08:52:00,0.35,33.48,35,402,EUR,€,CHGI15232-G-RED,Sale,Credit Card,69.55
6416824,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.00,40.00,35,404,EUR,€,FESP15401-XL-,Sale,Credit Card,40.00
6416825,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.00,36.50,35,399,EUR,€,MAUN15671-M-,Sale,Credit Card,36.50
6416826,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,16.57,35,404,EUR,€,FESH17424-M-,Sale,Credit Card,16.57

In [82]:
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes

Invoice ID                  object
Line                         int64
Customer ID                  int64
Product ID                   int64
Size                        object
Color                       object
Unit Price                 float64
Quantity                     int64
Date                datetime64[ns]
Discount                   float64
Line Total                 float64
Store ID                     int64
Employee ID                  int64
Currency                    object
Currency Symbol             object
SKU                         object
Transaction Type            object
Payment Method              object
Invoice Total              float64
dtype: object

In [83]:
df['Year']=df['Date'].dt.year
df.groupby('Year')['Invoice ID'].size()

Year
2023    2809513
2024    3150961
2025     456353
Name: Invoice ID, dtype: int64

In [84]:
df['Currency'].value_counts()

Currency
EUR    2549397
USD    1687764
CNY    1553438
GBP     626228
Name: count, dtype: int64

In [85]:
df10 = df[df['Currency'].str.contains('USD', na=False)]
df10

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,Line Total,Store ID,Employee ID,Currency,Currency Symbol,SKU,Transaction Type,Payment Method,Invoice Total,Year
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.00,80.50,1,7,USD,$,MASU485-M-,Sale,Cash,126.70,2023
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,18.90,1,7,USD,$,CHCO2779-G-,Sale,Cash,126.70,2023
2,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.40,27.30,1,7,USD,$,MACO64-M-NEUTRAL,Sale,Cash,126.70,2023
3,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.40,42.00,1,6,USD,$,FECO131-M-BLUE,Sale,Cash,77.00,2023
4,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.00,26.00,1,6,USD,$,MAT-716-L-WHITE,Sale,Cash,77.00,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687759,INV-US-005-04364229,1,296814,16558,M,NaN,69.5,1,2025-03-18 18:13:00,0.35,45.18,5,56,USD,$,CHGI16558-M-,Sale,Credit Card,45.18,2025
1687760,INV-US-005-04364230,1,287630,16376,M,TURQUOISE,59.0,1,2025-03-18 08:34:00,0.35,38.35,5,61,USD,$,CHGI16376-M-TURQUOISE,Sale,Credit Card,38.35,2025
1687761,INV-US-005-04364231,1,295675,17468,P,SILVER,68.5,1,2025-03-18 16:05:00,0.35,44.52,5,54,USD,$,CHGI17468-P-SILVER,Sale,Credit Card,44.52,2025
1687762,INV-US-005-04364232,1,290609,16930,M,NaN,40.5,1,2025-03-18 09:19:00,0.35,26.32,5,57,USD,$,FESH16930-M-,Sale,Credit Card,26.32,2025
1687763,INV-US-005-04364233,1,275515,17034,M,NaN,48.0,1,2025-03-18 14:13:00,0.35,31.20,5,54,USD,$,FESH17034-M-,Sale,Credit Card,31.20,2025

In [86]:
df1=pd.read_csv('products.csv')
df1

,Product ID,Category,Sub Category,Description PT,Description DE,Description FR,Description ES,Description EN,Description ZH,Color,Sizes,Production Cost
0,1,Feminine,Coats and Blazers,Esportivo Veludo Verde Com Botões,Sport Samt Sport Mit Knöpfen,Sports Velvet Sports Avec Des Boutons,Deportes De Terciopelo Con Botones,Sports Velvet Sports With Buttons,运动天鹅绒运动与按钮,NaN,S|M|L|XL,10.73
1,2,Feminine,Sweaters and Knitwear,Luxuoso Denim Rosa Com Botões,Luxuriöser Rosa Jeans Mit Knöpfen,Léchard De Denim Rose Avec Boutons,Denim Rosa Lujoso Con Botones,Luxurious Pink Denim With Buttons,豪华的粉红色牛仔布和纽扣,PINK,S|M|L|XL,19.55
2,3,Feminine,Dresses and Jumpsuits,Retrô Tricot Preto Estampado,Black Tricot Gedruckter Tricot,Tricot Imprimé En Tricot Noir,Tricot Negro Tricot Impreso,Black Tricot Printed Tricot,黑色三角形印刷三角形,BLACK,S|M|L|XL,25.59
3,4,Feminine,Shirts and Blouses,Blusa De Algodão Básica,Basis -Baumwollbluse,Chemisier En Coton De Base,Blusa De Algodón,Basic Cotton Blouse,基本的棉衬衫,NaN,S|M|L|XL,27.62
4,5,Feminine,T-shirts and Tops,T-Shirt Básica De Algodão,Basis-Baumwoll-T-Shirt,T-Shirt En Coton De Base,Camiseta Básica De Algodón,Basic Cotton T-Shirt,基本棉T恤,NaN,S|M|L,11.69
...,...,...,...,...,...,...,...,...,...,...,...,...
17935,17936,Children,"Girl and Boy (1-5 years, 6-14 years)",Executivo Camurça Verde Com Zíper,Executive Green Wildleder Mit Reißverschluss,Executive Green Suede Avec Zipper,Gamuza Verde Ejecutiva Con Cremallera,Executive Green Suede With Zipper,行政绿革与拉链,GREEN,P|M|G|GG,7.69
17936,17937,Children,Coats,Luxuoso Lã Turquesa Com Capuz,Luxuriöse Türkiswolle Mit Kapuze,Luxueuse Laine Turquoise Avec Capuche,Lujosa Lana Turquesa Con Capucha,Luxurious Turquoise Wool With Hood,豪华的绿松石羊毛和引擎盖,TURQUOISE,P|M|G,11.65
17937,17938,Children,Sweaters,Camisola Infantil De Tricô Com Estampa Geométrica,Kidskot -Shirt Mit Geometrischem Druck,Chemise Kidskot Avec Imprimé Géométrique,Camisa De Kidskot Con Estampado Geométrico,Kidskot Shirt With Geometric Print,带几何印刷的Kidskot衬衫,NaN,P|M|G,24.38
17938,17939,Children,Pajamas,Pijama Infantil De Cetim Com Brilho Suave E Bo...,Kinder Satin -Pyjama Mit Glattem Glanz Und Tasche,Pyjama En Satin Pour Enfants Avec Une Brillanc...,Pajama De Satén Para Niños Con Brillo Suave Y ...,Kids Satin Pajama With Smooth Shine And Pocket,孩子们缎面睡衣，光滑的光泽和口袋,NaN,P|M|G,18.27
17939,17940,Children,Accessories,Protetor De Braço Infantil Para Segurança,Kinderarmschutz Für Sicherheit,Protecteur Du Bras Pour Enfants Pour La Sécurité,Protector Del Brazo Infantil Por Seguridad,Children'S Arm Protector For Safety,为了安全起见儿童手臂保护器,NaN,NaN,10.99

In [91]:
df1=df1[['Product ID','Category','Sub Category','Description EN','Production Cost']]

In [92]:
mdf1=df.merge(df1,on='Product ID',how='left')
mdf1

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Currency Symbol,SKU,Transaction Type,Payment Method,Invoice Total,Year,Category,Sub Category,Description EN,Production Cost
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.00,...,$,MASU485-M-,Sale,Cash,126.70,2023,Masculine,Suits and Blazers,Men'S Rustic Fabric Blazer With Texture,12.09
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,$,CHCO2779-G-,Sale,Cash,126.70,2023,Children,Coats,Streetwear Golden Silk,15.14
2,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.40,...,$,MACO64-M-NEUTRAL,Sale,Cash,126.70,2023,Masculine,Coats and Blazers,Luxurious Neutral Suede With Hood,12.02
3,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.40,...,$,FECO131-M-BLUE,Sale,Cash,77.00,2023,Feminine,Coats and Blazers,Formal Blue Jeans With Ruffles,49.28
4,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.00,...,$,MAT-716-L-WHITE,Sale,Cash,77.00,2023,Masculine,T-shirts and Polos,High-Tech Suede White Embroidered,8.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6416822,INV-PT-035-01497756,2,1640168,15414,P,NaN,35.5,1,2025-03-18 08:52:00,0.35,...,€,CHGI15414-P-,Sale,Credit Card,69.55,2025,Children,"Girl and Boy (1-5 years, 6-14 years)",Boho Jacquard Bege,3.67
6416823,INV-PT-035-01497756,3,1640168,15232,G,RED,51.5,1,2025-03-18 08:52:00,0.35,...,€,CHGI15232-G-RED,Sale,Credit Card,69.55,2025,Children,"Girl and Boy (1-5 years, 6-14 years)",High-Tech Red Denim With Ruffles,26.46
6416824,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.00,...,€,FESP15401-XL-,Sale,Credit Card,40.00,2025,Feminine,Sportswear,Female Yoga Shorts,6.92
6416825,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.00,...,€,MAUN15671-M-,Sale,Credit Card,36.50,2025,Masculine,Underwear and Pajamas,Men'S Underwear Lightweight Fabric For Extra C...,11.14
6416826,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,€,FESH17424-M-,Sale,Credit Card,16.57,2025,Feminine,Shirts and Blouses,Hand -Embroidered Female Blouse,3.42

In [93]:
df2=pd.read_csv('customers.csv',low_memory=False)
df2

,Customer ID,Name,Email,Telephone,City,Country,Gender,Date Of Birth,Job Title
0,1,Tyler Garcia,tyler.garcia@fake_gmail.com,922.970.2265x47563,New York,United States,M,2003-07-15,NaN
1,2,Joshua Miller,joshua.miller@fake_gmail.com,+1-958-729-6169,New York,United States,M,2000-06-16,Records manager
2,3,Alison Marshall DDS,alison.marshall.dds@fake_hotmail.com,+1-645-567-0876x5409,New York,United States,F,2003-07-22,NaN
3,4,Jeffery Acosta,jeffery.acosta@fake_yahoo.com,212.336.0912x84994,New York,United States,M,1996-11-12,Proofreader
4,5,Ashley Sanders,ashley.sanders@fake_hotmail.com,7814535781,New York,United States,F,1998-02-10,Exercise physiologist
...,...,...,...,...,...,...,...,...,...
1643301,1643302,Bernardo Vicente,bernardo.vicente@fake_hotmail.com,(351) 962314916,Arruda dos Vinhos,Portugal,M,1973-02-27,Structural engineer
1643302,1643303,Luana Leite,luana.leite@fake_clix.pt,(351) 288 728 807,Arruda dos Vinhos,Portugal,F,1997-02-05,Futures trader
1643303,1643304,Ema Freitas,ema.freitas@fake_clix.pt,+351910990620,Arruda dos Vinhos,Portugal,F,2005-03-14,NaN
1643304,1643305,Rafaela Carneiro,rafaela.carneiro@fake_clix.pt,+351938182129,Arruda dos Vinhos,Portugal,F,1989-07-14,Futures trader
1643305,1643306,Pilar da Coelho,pilar.da.coelho@fake_hotmail.com,(351) 938 886 805,Arruda dos Vinhos,Portugal,F,1978-12-22,Garment/textile technologist

In [96]:
df2=df2[['Customer ID','Name','City','Country','Gender','Date Of Birth','Job Title']]

In [98]:
mdf2=mdf1.merge(df2,on='Customer ID',how='left')
mdf2

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Category,Sub Category,Description EN,Production Cost,Name,City,Country,Gender,Date Of Birth,Job Title
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.00,...,Masculine,Suits and Blazers,Men'S Rustic Fabric Blazer With Texture,12.09,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,Children,Coats,Streetwear Golden Silk,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst
2,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.40,...,Masculine,Coats and Blazers,Luxurious Neutral Suede With Hood,12.02,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst
3,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.40,...,Feminine,Coats and Blazers,Formal Blue Jeans With Ruffles,49.28,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist
4,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.00,...,Masculine,T-shirts and Polos,High-Tech Suede White Embroidered,8.31,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6416822,INV-PT-035-01497756,2,1640168,15414,P,NaN,35.5,1,2025-03-18 08:52:00,0.35,...,Children,"Girl and Boy (1-5 years, 6-14 years)",Boho Jacquard Bege,3.67,Mafalda Rocha,Coimbra,Portugal,F,1996-03-30,"Administrator, local government"
6416823,INV-PT-035-01497756,3,1640168,15232,G,RED,51.5,1,2025-03-18 08:52:00,0.35,...,Children,"Girl and Boy (1-5 years, 6-14 years)",High-Tech Red Denim With Ruffles,26.46,Mafalda Rocha,Coimbra,Portugal,F,1996-03-30,"Administrator, local government"
6416824,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.00,...,Feminine,Sportswear,Female Yoga Shorts,6.92,Melissa Castro,Coimbra,Portugal,F,2004-03-02,NaN
6416825,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.00,...,Masculine,Underwear and Pajamas,Men'S Underwear Lightweight Fabric For Extra C...,11.14,Ariana Carneiro,Cantanhede,Portugal,F,1979-11-21,Corporate treasurer
6416826,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,Feminine,Shirts and Blouses,Hand -Embroidered Female Blouse,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant

In [99]:
mdf2

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Category,Sub Category,Description EN,Production Cost,Name,City,Country,Gender,Date Of Birth,Job Title
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.00,...,Masculine,Suits and Blazers,Men'S Rustic Fabric Blazer With Texture,12.09,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,Children,Coats,Streetwear Golden Silk,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst
2,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.40,...,Masculine,Coats and Blazers,Luxurious Neutral Suede With Hood,12.02,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst
3,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.40,...,Feminine,Coats and Blazers,Formal Blue Jeans With Ruffles,49.28,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist
4,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.00,...,Masculine,T-shirts and Polos,High-Tech Suede White Embroidered,8.31,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6416822,INV-PT-035-01497756,2,1640168,15414,P,NaN,35.5,1,2025-03-18 08:52:00,0.35,...,Children,"Girl and Boy (1-5 years, 6-14 years)",Boho Jacquard Bege,3.67,Mafalda Rocha,Coimbra,Portugal,F,1996-03-30,"Administrator, local government"
6416823,INV-PT-035-01497756,3,1640168,15232,G,RED,51.5,1,2025-03-18 08:52:00,0.35,...,Children,"Girl and Boy (1-5 years, 6-14 years)",High-Tech Red Denim With Ruffles,26.46,Mafalda Rocha,Coimbra,Portugal,F,1996-03-30,"Administrator, local government"
6416824,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.00,...,Feminine,Sportswear,Female Yoga Shorts,6.92,Melissa Castro,Coimbra,Portugal,F,2004-03-02,NaN
6416825,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.00,...,Masculine,Underwear and Pajamas,Men'S Underwear Lightweight Fabric For Extra C...,11.14,Ariana Carneiro,Cantanhede,Portugal,F,1979-11-21,Corporate treasurer
6416826,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,Feminine,Shirts and Blouses,Hand -Embroidered Female Blouse,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant

In [100]:
df5=pd.read_csv('discounts.csv')
df5

,Start,End,Discont,Description,Category,Sub Category
0,2020-01-01,2020-01-10,0.40,40% discount during our New Year Winter Sale,Feminine,Coats and Blazers
1,2020-01-01,2020-01-10,0.40,40% discount during our New Year Winter Sale,Feminine,Sweaters and Knitwear
2,2020-01-01,2020-01-10,0.40,40% discount during our New Year Winter Sale,Masculine,Coats and Blazers
3,2020-01-01,2020-01-10,0.40,40% discount during our New Year Winter Sale,Masculine,Sweaters and Sweatshirts
4,2020-01-01,2020-01-10,0.40,40% discount during our New Year Winter Sale,Children,Coats
...,...,...,...,...,...,...
176,2025-03-15,2025-03-31,0.35,35% discount during our Early Spring Collectio...,Feminine,Dresses and Jumpsuits
177,2025-03-15,2025-03-31,0.35,35% discount during our Early Spring Collectio...,Feminine,Shirts and Blouses
178,2025-03-15,2025-03-31,0.35,35% discount during our Early Spring Collectio...,Masculine,T-shirts and Polos
179,2025-03-15,2025-03-31,0.35,35% discount during our Early Spring Collectio...,Masculine,Shirts
180,2025-03-15,2025-03-31,0.35,35% discount during our Early Spring Collectio...,Children,"Girl and Boy (1-5 years, 6-14 years)"

In [102]:
df5=df5.rename(columns={'Discont':'Discount'})
df5['Discount'].value_counts()

Discount
0.25    40
0.40    36
0.45    35
0.35    30
0.20    30
0.60     5
0.50     5
Name: count, dtype: int64

In [103]:
mdf3=mdf2.merge(df5,on=['Discount','Category','Sub Category'],how='left')
mdf3

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Production Cost,Name,City,Country,Gender,Date Of Birth,Job Title,Start,End,Description
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.00,...,12.09,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,NaN,NaN,NaN
1,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2020-01-01,2020-01-10,40% discount during our New Year Winter Sale
2,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2021-01-01,2021-01-10,40% discount during our New Year Winter Sale
3,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2022-01-01,2022-01-10,40% discount during our New Year Winter Sale
4,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10180256,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant,2021-03-15,2021-03-31,35% discount during our Early Spring Collectio...
10180257,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant,2022-03-15,2022-03-31,35% discount during our Early Spring Collectio...
10180258,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant,2023-03-15,2023-03-31,35% discount during our Early Spring Collectio...
10180259,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant,2024-03-15,2024-03-31,35% discount during our Early Spring Collectio...
10180260,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant,2025-03-15,2025-03-31,35% discount during our Early Spring Collectio...

In [106]:
mdf3['Discount'].dtypes

dtype('float64')

In [107]:
ddf=mdf3

In [108]:
nddf=mdf3[mdf3['Discount']==0.00]
nddf

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Production Cost,Name,City,Country,Gender,Date Of Birth,Job Title,Start,End,Description
0,INV-US-001-03558761,1,47162,485,M,NaN,80.5,1,2023-01-01 15:42:00,0.0,...,12.09,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,NaN,NaN,NaN
19,INV-US-001-03558762,2,10142,716,L,WHITE,26.0,1,2023-01-01 20:04:00,0.0,...,8.31,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist,NaN,NaN,NaN
20,INV-US-001-03558762,3,10142,644,NaN,NaN,9.0,1,2023-01-01 20:04:00,0.0,...,3.86,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist,NaN,NaN,NaN
21,INV-US-001-03558763,1,8286,1395,M,NaN,95.5,1,2023-01-01 20:47:00,0.0,...,45.64,Christopher Gonzalez,New York,United States,M,2004-01-01,NaN,NaN,NaN,NaN
40,INV-US-001-03558766,1,18139,2147,M,NaN,16.0,1,2023-01-01 10:57:00,0.0,...,2.90,Leslie Brooks,New York,United States,F,2002-02-19,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10180220,INV-PT-035-01497753,1,1637180,14958,S,NaN,75.0,2,2025-03-18 18:36:00,0.0,...,42.87,Iara Azevedo,Coimbra,Portugal,F,1996-10-10,Nature conservation officer,NaN,NaN,NaN
10180227,INV-PT-035-01497754,2,1636501,16125,S,NaN,28.0,1,2025-03-18 17:01:00,0.0,...,4.54,Raquel Miranda,Coimbra,Portugal,F,1999-02-11,"Physicist, medical",NaN,NaN,NaN
10180234,RET-PT-035-01496686,1,1637979,17374,36,NaN,57.0,1,2025-03-18 00:00:00,0.0,...,26.67,Daniel Soares-Pinheiro,Coimbra,Portugal,M,1982-06-01,Politician's assistant,NaN,NaN,NaN
10180253,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.0,...,6.92,Melissa Castro,Coimbra,Portugal,F,2004-03-02,NaN,NaN,NaN,NaN
10180254,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.0,...,11.14,Ariana Carneiro,Cantanhede,Portugal,F,1979-11-21,Corporate treasurer,NaN,NaN,NaN

In [109]:

condition = (ddf['Date'] >= ddf['Start']) & (ddf['Date'] <= ddf['End'])
ddf = ddf[condition]
ddf

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Production Cost,Name,City,Country,Gender,Date Of Birth,Job Title,Start,End,Description
4,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.40,...,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
10,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.40,...,12.02,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
16,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.40,...,49.28,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
25,INV-US-001-03558764,1,1968,1208,M,SILVER,75.0,1,2023-01-01 08:06:00,0.40,...,18.53,David Howard,New York,United States,M,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
31,INV-US-001-03558764,2,1968,2639,M,WHITE,45.5,1,2023-01-01 08:06:00,0.40,...,22.61,David Howard,New York,United States,M,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10180233,INV-PT-035-01497755,1,1642896,17319,S,NaN,57.5,1,2025-03-18 17:23:00,0.35,...,23.49,Margarida Lourenço,Lousã,Portugal,F,2000-09-19,Graphic designer,2025-03-15,2025-03-31,35% discount during our Early Spring Collectio...
10180240,INV-PT-035-01497756,1,1640168,16499,L,NaN,20.0,1,2025-03-18 08:52:00,0.35,...,9.45,Mafalda Rocha,Coimbra,Portugal,F,1996-03-30,"Administrator, local government",2025-03-15,2025-03-31,35% discount during our Early Spring Collectio...
10180246,INV-PT-035-01497756,2,1640168,15414,P,NaN,35.5,1,2025-03-18 08:52:00,0.35,...,3.67,Mafalda Rocha,Coimbra,Portugal,F,1996-03-30,"Administrator, local government",2025-03-15,2025-03-31,35% discount during our Early Spring Collectio...
10180252,INV-PT-035-01497756,3,1640168,15232,G,RED,51.5,1,2025-03-18 08:52:00,0.35,...,26.46,Mafalda Rocha,Coimbra,Portugal,F,1996-03-30,"Administrator, local government",2025-03-15,2025-03-31,35% discount during our Early Spring Collectio...
10180260,INV-PT-035-01497759,1,1639026,17424,M,NaN,25.5,1,2025-03-18 19:11:00,0.35,...,3.42,Rodrigo Gomes,Coimbra,Portugal,M,1973-03-12,Chartered public finance accountant,2025-03-15,2025-03-31,35% discount during our Early Spring Collectio...

In [110]:
result_df= pd.concat([ddf, nddf], ignore_index=True)
result_df

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Production Cost,Name,City,Country,Gender,Date Of Birth,Job Title,Start,End,Description
0,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.4,...,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
1,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.4,...,12.02,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
2,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.4,...,49.28,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
3,INV-US-001-03558764,1,1968,1208,M,SILVER,75.0,1,2023-01-01 08:06:00,0.4,...,18.53,David Howard,New York,United States,M,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
4,INV-US-001-03558764,2,1968,2639,M,WHITE,45.5,1,2023-01-01 08:06:00,0.4,...,22.61,David Howard,New York,United States,M,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5425130,INV-PT-035-01497753,1,1637180,14958,S,NaN,75.0,2,2025-03-18 18:36:00,0.0,...,42.87,Iara Azevedo,Coimbra,Portugal,F,1996-10-10,Nature conservation officer,NaN,NaN,NaN
5425131,INV-PT-035-01497754,2,1636501,16125,S,NaN,28.0,1,2025-03-18 17:01:00,0.0,...,4.54,Raquel Miranda,Coimbra,Portugal,F,1999-02-11,"Physicist, medical",NaN,NaN,NaN
5425132,RET-PT-035-01496686,1,1637979,17374,36,NaN,57.0,1,2025-03-18 00:00:00,0.0,...,26.67,Daniel Soares-Pinheiro,Coimbra,Portugal,M,1982-06-01,Politician's assistant,NaN,NaN,NaN
5425133,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.0,...,6.92,Melissa Castro,Coimbra,Portugal,F,2004-03-02,NaN,NaN,NaN,NaN
5425134,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.0,...,11.14,Ariana Carneiro,Cantanhede,Portugal,F,1979-11-21,Corporate treasurer,NaN,NaN,NaN

In [111]:
result_df.head()

,Invoice ID,Line,Customer ID,Product ID,Size,Color,Unit Price,Quantity,Date,Discount,...,Production Cost,Name,City,Country,Gender,Date Of Birth,Job Title,Start,End,Description
0,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.4,...,15.14,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
1,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.4,...,12.02,Rachel Herman,New York,United States,F,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
2,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.4,...,49.28,Debra Acosta DVM,New York,United States,F,1974-12-12,Pharmacologist,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
3,INV-US-001-03558764,1,1968,1208,M,SILVER,75.0,1,2023-01-01 08:06:00,0.4,...,18.53,David Howard,New York,United States,M,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale
4,INV-US-001-03558764,2,1968,2639,M,WHITE,45.5,1,2023-01-01 08:06:00,0.4,...,22.61,David Howard,New York,United States,M,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale

In [112]:
result_df.columns

Index(['Invoice ID', 'Line', 'Customer ID', 'Product ID', 'Size', 'Color',
       'Unit Price', 'Quantity', 'Date', 'Discount', 'Line Total', 'Store ID',
       'Employee ID', 'Currency', 'Currency Symbol', 'SKU', 'Transaction Type',
       'Payment Method', 'Invoice Total', 'Year', 'Category', 'Sub Category',
       'Description EN', 'Production Cost', 'Name', 'City', 'Country',
       'Gender', 'Date Of Birth', 'Job Title', 'Start', 'End', 'Description'],
      dtype='object')

In [113]:
result_df.columns = result_df.columns.str.lower().str.replace(' ', '_')

In [114]:
### Data cleaning & Transformations
result_df['date'] = pd.to_datetime(result_df['date'])
result_df['date_of_birth'] = pd.to_datetime(result_df['date_of_birth'])
result_df['start'] = pd.to_datetime(result_df['start'])
result_df['end'] = pd.to_datetime(result_df['end'])

In [115]:
### Creting new columns

In [117]:
### Final Amount Paid (after discount):
result_df['final_price'] = result_df['unit_price'] * result_df['quantity'] * (1 - result_df['discount'])

In [118]:
### Profit
result_df['profit'] = result_df['final_price'] - result_df['production_cost']*result_df['quantity']

In [119]:
### Age
today = pd.Timestamp('now')
result_df['age'] = (today - result_df['date_of_birth']).dt.days // 365

In [120]:
### Month and Year for time-based analysis:

result_df['month'] = result_df['date'].dt.month
result_df['year'] = result_df['date'].dt.year
result_df['month_year'] = result_df['date'].dt.to_period('M')

In [32]:
result_df

,invoice_id,line,customer_id,product_id,size,color,unit_price,quantity,date,discount,...,date_of_birth,job_title,start,end,description,final_price,profit,age,month,month_year
0,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.4,...,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,18.9,3.76,41,1,2023-01
1,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.4,...,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,27.3,15.28,41,1,2023-01
2,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.4,...,1974-12-12,Pharmacologist,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,42.0,-7.28,50,1,2023-01
3,INV-US-001-03558764,1,1968,1208,M,SILVER,75.0,1,2023-01-01 08:06:00,0.4,...,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,45.0,26.47,26,1,2023-01
4,INV-US-001-03558764,2,1968,2639,M,WHITE,45.5,1,2023-01-01 08:06:00,0.4,...,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,27.3,4.69,26,1,2023-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5425130,INV-PT-035-01497753,1,1637180,14958,S,NaN,75.0,2,2025-03-18 18:36:00,0.0,...,1996-10-10,Nature conservation officer,NaT,NaT,NaN,150.0,64.26,28,3,2025-03
5425131,INV-PT-035-01497754,2,1636501,16125,S,NaN,28.0,1,2025-03-18 17:01:00,0.0,...,1999-02-11,"Physicist, medical",NaT,NaT,NaN,28.0,23.46,26,3,2025-03
5425132,RET-PT-035-01496686,1,1637979,17374,36,NaN,57.0,1,2025-03-18 00:00:00,0.0,...,1982-06-01,Politician's assistant,NaT,NaT,NaN,57.0,30.33,42,3,2025-03
5425133,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.0,...,2004-03-02,NaN,NaT,NaT,NaN,40.0,33.08,21,3,2025-03
5425134,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.0,...,1979-11-21,Corporate treasurer,NaT,NaT,NaN,36.5,25.36,45,3,2025-03

In [33]:
### Checking for duplicates
result_df.duplicated().sum()

798

In [34]:
result_df = result_df.drop_duplicates()
result_df

,invoice_id,line,customer_id,product_id,size,color,unit_price,quantity,date,discount,...,date_of_birth,job_title,start,end,description,final_price,profit,age,month,month_year
0,INV-US-001-03558761,2,47162,2779,G,NaN,31.5,1,2023-01-01 15:42:00,0.4,...,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,18.9,3.76,41,1,2023-01
1,INV-US-001-03558761,3,47162,64,M,NEUTRAL,45.5,1,2023-01-01 15:42:00,0.4,...,1983-12-25,Risk analyst,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,27.3,15.28,41,1,2023-01
2,INV-US-001-03558762,1,10142,131,M,BLUE,70.0,1,2023-01-01 20:04:00,0.4,...,1974-12-12,Pharmacologist,2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,42.0,-7.28,50,1,2023-01
3,INV-US-001-03558764,1,1968,1208,M,SILVER,75.0,1,2023-01-01 08:06:00,0.4,...,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,45.0,26.47,26,1,2023-01
4,INV-US-001-03558764,2,1968,2639,M,WHITE,45.5,1,2023-01-01 08:06:00,0.4,...,1999-04-11,"Engineer, aeronautical",2023-01-01,2023-01-10,40% discount during our New Year Winter Sale,27.3,4.69,26,1,2023-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5425130,INV-PT-035-01497753,1,1637180,14958,S,NaN,75.0,2,2025-03-18 18:36:00,0.0,...,1996-10-10,Nature conservation officer,NaT,NaT,NaN,150.0,64.26,28,3,2025-03
5425131,INV-PT-035-01497754,2,1636501,16125,S,NaN,28.0,1,2025-03-18 17:01:00,0.0,...,1999-02-11,"Physicist, medical",NaT,NaT,NaN,28.0,23.46,26,3,2025-03
5425132,RET-PT-035-01496686,1,1637979,17374,36,NaN,57.0,1,2025-03-18 00:00:00,0.0,...,1982-06-01,Politician's assistant,NaT,NaT,NaN,57.0,30.33,42,3,2025-03
5425133,INV-PT-035-01497757,1,1636770,15401,XL,NaN,40.0,1,2025-03-18 19:01:00,0.0,...,2004-03-02,NaN,NaT,NaT,NaN,40.0,33.08,21,3,2025-03
5425134,INV-PT-035-01497758,1,1642472,15671,M,NaN,36.5,1,2025-03-18 19:10:00,0.0,...,1979-11-21,Corporate treasurer,NaT,NaT,NaN,36.5,25.36,45,3,2025-03

In [139]:
### some normal EDA
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5425135 entries, 0 to 5425134
Data columns (total 38 columns):
 #   Column            Dtype
---  ------            -----
 0   invoice_id        object
 1   line              int64
 2   customer_id       int64
 3   product_id        int64
 4   size              object
 5   color             object
 6   unit_price        float64
 7   quantity          int64
 8   date              datetime64[ns]
 9   discount          float64
 10  line_total        float64
 11  store_id          int64
 12  employee_id       int64
 13  currency          object
 14  currency_symbol   object
 15  sku               object
 16  transaction_type  object
 17  payment_method    object
 18  invoice_total     float64
 19  year              int32
 20  category          object
 21  sub_category      object
 22  description_en    object
 23  production_cost   float64
 24  name              object
 25  city              object
 26  country           object
 27  gender            object
 28  date_of_birth     datetime64[ns]
 29  job_title         object
 30  start             datetime64[ns]
 31  end               datetime64[ns]
 32  description       object
 33  final_price       float64
 34  profit            float64
 35  age               int64
 36  month             int32
 37  month_year        period[M]
dtypes: datetime64[ns](4), float64(7), int32(2), int64(7), object(17), period[M](1)
memory usage: 1.5+ GB

In [141]:
result_df.describe()

,line,customer_id,product_id,unit_price,quantity,date,discount,line_total,store_id,employee_id,invoice_total,year,production_cost,date_of_birth,start,end,final_price,profit,age,month
count,5.425135e+06,5.425135e+06,5.425135e+06,5.425135e+06,5.425135e+06,5425135,5.425135e+06,5.425135e+06,5.425135e+06,5.425135e+06,5.425135e+06,5.425135e+06,5.425135e+06,5425135,797174,797174,5.425135e+06,5.425135e+06,5.425135e+06,5.425135e+06
mean,1.581810e+00,7.297692e+05,9.026645e+03,1.318328e+02,1.100268e+00,2024-02-22 06:00:38.646083328,5.036564e-02,1.213160e+02,1.340663e+01,1.555941e+02,2.583071e+02,2.023651e+03,1.730423e+01,1993-03-12 12:15:18.580348032,2024-01-17 04:40:29.148968192,2024-01-30 05:13:40.358917120,1.384127e+02,1.193723e+02,3.165873e+01,6.455223e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,2023-01-01 00:00:00,0.000000e+00,-3.348000e+03,1.000000e+00,5.000000e+00,-6.750500e+03,2.023000e+03,5.600000e-01,1949-03-20 00:00:00,2023-01-01 00:00:00,2023-01-10 00:00:00,2.000000e+00,-8.151000e+01,1.800000e+01,1.000000e+00
25%,1.000000e+00,2.920205e+05,5.986000e+03,3.220000e+01,1.000000e+00,2023-09-01 13:19:00,0.000000e+00,2.700000e+01,5.000000e+00,5.800000e+01,3.650000e+01,2.023000e+03,8.650000e+00,1985-05-17 00:00:00,2023-09-01 00:00:00,2023-09-15 00:00:00,3.050000e+01,1.663000e+01,2.200000e+01,3.000000e+00
50%,1.000000e+00,6.699920e+05,9.083000e+03,5.085000e+01,1.000000e+00,2024-03-07 14:01:00,0.000000e+00,4.650000e+01,1.000000e+01,1.210000e+02,8.960000e+01,2.024000e+03,1.431000e+01,1996-04-05 00:00:00,2024-03-15 00:00:00,2024-03-31 00:00:00,5.050000e+01,3.165000e+01,2.900000e+01,6.000000e+00
75%,2.000000e+00,1.138311e+06,1.238500e+04,1.175000e+02,1.000000e+00,2024-09-14 17:39:00,0.000000e+00,1.160000e+02,2.200000e+01,2.530000e+02,2.610000e+02,2.024000e+03,2.260000e+01,2003-03-27 00:00:00,2024-09-01 00:00:00,2024-09-15 00:00:00,1.305000e+02,1.010400e+02,3.900000e+01,1.000000e+01
max,7.000000e+00,1.643306e+06,1.794000e+04,1.153500e+03,3.000000e+00,2025-03-18 20:59:00,4.500000e-01,3.460500e+03,3.500000e+01,4.040000e+02,8.977000e+03,2.025000e+03,7.719000e+01,2007-03-18 00:00:00,2025-03-15 00:00:00,2025-03-31 00:00:00,3.460500e+03,3.379320e+03,7.600000e+01,1.200000e+01
std,1.152376e+00,4.882690e+05,3.925842e+03,1.836293e+02,3.964410e-01,NaN,1.262464e-01,2.239555e+02,1.014840e+01,1.173140e+02,5.678577e+02,6.279593e-01,1.200916e+01,NaN,NaN,NaN,2.157275e+02,2.108672e+02,1.179879e+01,3.605331e+00

In [143]:
result_df['gender'].value_counts()

gender
F    3463231
M    1958387
D       3517
Name: count, dtype: int64

In [155]:
result_df['country'].value_counts()

country
United States    798180
Name: count, dtype: int64

In [151]:
result_df=result_df[result_df['year']!=2023]
result_df=result_df[result_df['country']=='United States']
result_df.reset_index(drop=True)

,invoice_id,line,customer_id,product_id,size,color,unit_price,quantity,date,discount,...,date_of_birth,job_title,start,end,description,final_price,profit,age,month,month_year
0,INV-US-001-03704751,1,58421,7917,L,NEUTRAL,46.00,1,2024-01-01 13:45:00,0.4,...,2003-12-30,NaN,2024-01-01,2024-01-10,40% discount during our New Year Winter Sale,27.60,-6.60,21,1,2024-01
1,INV-US-001-03704752,1,43742,8452,M,PINK,35.50,1,2024-01-01 18:55:00,0.4,...,2000-08-02,Therapeutic radiographer,2024-01-01,2024-01-10,40% discount during our New Year Winter Sale,21.30,6.22,24,1,2024-01
2,INV-US-001-03704753,1,56096,6097,L,TURQUOISE,32.50,1,2024-01-01 09:11:00,0.4,...,1975-02-14,Public relations officer,2024-01-01,2024-01-10,40% discount during our New Year Winter Sale,19.50,3.34,50,1,2024-01
3,INV-US-001-03704754,1,72961,7125,L,RED,65.00,1,2024-01-01 11:10:00,0.4,...,1986-11-15,Insurance broker,2024-01-01,2024-01-10,40% discount during our New Year Winter Sale,39.00,19.55,38,1,2024-01
4,INV-US-001-03704755,1,31388,8451,M,YELLOW,53.50,1,2024-01-01 19:36:00,0.4,...,2002-10-19,NaN,2024-01-01,2024-01-10,40% discount during our New Year Winter Sale,32.10,3.12,22,1,2024-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798175,INV-PT-035-01492368,1,136628,14527,M,NaN,25.90,1,2025-01-01 10:15:00,0.0,...,2005-03-25,NaN,NaT,NaT,NaN,25.90,19.68,20,1,2025-01
798176,INV-PT-035-01493449,1,176968,12231,NaN,GOLD,14.00,1,2025-01-18 15:40:00,0.0,...,2000-06-25,Special effects artist,NaT,NaT,NaN,14.00,10.80,24,1,2025-01
798177,INV-PT-035-01493934,1,336022,12304,36,NaN,54.25,1,2025-01-25 15:42:00,0.0,...,1982-04-20,Sport and exercise psychologist,NaT,NaT,NaN,54.25,12.90,43,1,2025-01
798178,INV-PT-035-01493934,2,336022,14834,M,NaN,38.85,1,2025-01-25 15:42:00,0.0,...,1982-04-20,Sport and exercise psychologist,NaT,NaT,NaN,38.85,8.57,43,1,2025-01
798179,INV-PT-035-01495817,1,71461,17585,L,NaN,36.50,1,2025-03-02 19:11:00,0.0,...,1996-09-13,Writer,NaT,NaT,NaN,36.50,29.58,28,3,2025-03

In [153]:
result_df.to_csv('Company_sales_data_usa.csv')

In [41]:
result_df['year'].value_counts()

year
2024    2624724
2025     453347
Name: count, dtype: int64

In [ ]:
RE